@page
@model HotelBooking_WEB.Pages.ProfileModel
@{
    ViewData["Title"] = "Личный кабинет";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

<div class="container py-5">
    <h1 class="text-center mb-4" style="color: #1a73e8;">Личный кабинет</h1>

    @if (TempData["PasswordChangeSuccess"] != null && (bool)TempData["PasswordChangeSuccess"])
    {
        <div id="passwordChangeAlert" class="alert alert-success alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index: 2000; min-width: 350px;" role="alert">
            @TempData["PasswordChangeMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
        </div>
    }
    @if (TempData["DataChangeSuccess"] != null && (bool)TempData["DataChangeSuccess"])
    {
        <div id="passwordChangeAlert" class="alert alert-success alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index: 2000; min-width: 350px;" role="alert">
            @TempData["DataChangeMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
        </div>
    }


    @if (Model.User != null)
    {
        <div class="card shadow profile-card">
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="User.Id" />
                    <input type="hidden" asp-for="User.CompanyId" />
                    <div class="mb-3">
                        <label for="firstName" class="form-label">Имя:</label>
                        <input type="text" class="form-control" id="firstName" asp-for="User.FirstName" required>
                    </div>
                    <div class="mb-3">
                        <label for="secondName" class="form-label">Отчество:</label>
                        <input type="text" class="form-control" id="secondName" asp-for="User.SecondName" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Фамилия:</label>
                        <input type="text" class="form-control" id="lastName" asp-for="User.LastName" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Телефон:</label>
                        <input type="tel" class="form-control" id="phone" asp-for="User.Phone" required>
                    </div>

                    <button type="submit" class="btn btn-light save-btn"><i class="fa fa-save me-2"></i>Сохранить</button>

                    <button type="button" class="btn btn-primary save-btn" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Изменить пароль</button>

                    <a asp-page="/Bookings" class="btn btn-danger my-bookings-btn">
                        <i class="fa fa-calendar-check me-2"></i>
                        Мои бронирования
                    </a>

                    <a asp-page="/Hotels" class="btn btn-secondary back-btn">
                        <i class="fa fa-arrow-left me-2"></i>
                        Назад
                    </a>
                </form>
            </div>
        </div>
    }
    else
    {
        <h2 class="text-center mb-4" style="color: #1a73e8;">Пользователь не найден.</h2>
    }
</div>

@* Модальное окно изменения пароля *@
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="ChangePassword">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Изменение пароля</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="ChangePassword.OldPassword" class="form-label">Старый пароль</label>
                        <input asp-for="ChangePassword.OldPassword" class="form-control" type="password" />
                        <span asp-validation-for="ChangePassword.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ChangePassword.NewPassword" class="form-label">Новый пароль</label>
                        <input asp-for="ChangePassword.NewPassword" class="form-control" type="password" />
                        <span asp-validation-for="ChangePassword.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ChangePassword.ConfirmPassword" class="form-label">Новый пароль (повторно)</label>
                        <input type="password" asp-for="ChangePassword.ConfirmPassword" autocomplete="off" class="form-control" onpaste="return false" oncopy="return false" oncut="return false" />
                        <span asp-validation-for="ChangePassword.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>


<style>
    .profile-card {
        border-radius: 15px;
        overflow: hidden;
    }

    .save-btn {
        width: 100%;
        transition: background-color 0.3s ease;
    }

        .save-btn:hover {
            background-color: #0056b3;
        }

    .my-bookings-btn, .back-btn {
        width: 100%;
        margin-top: 10px;
        transition: background-color 0.3s ease;
    }

        .my-bookings-btn:hover, .back-btn:hover {
            background-color: #0056b3;
        }

    .btn-primary {
        margin-top: 10px;
        border-block-color: black;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
