<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelBooking_WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HotelBooking_WEB.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/Logo.png" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between headerNew">
                    <ul class="navbar-nav flex-grow-1">
                        <img src="logo.png" alt="Logo" class="logo">
                        <li class="nav-item">
                            <a class="nav-link text-dark textMain" asp-area="" asp-page="/AdminBookings">Бронирования</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark textMain" asp-area="" asp-page="/AdminAddHotel">Добавить отель</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark textMain" asp-area="" asp-page="/AdminRegistration">Добавить пользователя</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark textMain" asp-area="" asp-page="/AdminAddCompany">Добавить компанию</a>
                        </li>
                    </ul>
                    <div class="profile">
                        <a class="nav-link text-dark textMain" asp-area="" asp-page="/Index">Выйти</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - HotelBooking_WEB - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .headerNew {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-weight: bold;
        margin-right: 10px;
    }

    .textMain {
        font-weight: bold;
        margin-right: 10px;
        font-size: 18px;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    .profile {
        font-weight: bold;
        margin-right: 20px;
        margin-left: 0px;
    }
</style>